.runner-table {
  margin: 0 auto;
  display: grid;
  grid-auto-rows: 100px;
  grid-gap: 16px;
  justify-content: center;
}

.grid-row-3 {
  grid-template-columns: repeat(3, 140px);
}

.grid-row-4 {
  grid-template-columns: repeat(4, 140px);
}

.grid-row-5 {
  grid-template-columns: repeat(5, 140px);
}

.runner-image-box {
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: center;
}

.runner img {
  object-fit: contain;
  max-width: 140px;
}
